.road__content-title h3{
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    font-family: Inter, sans-serif;
}
.road__content-title p{
    font-weight: 600;
    font-size: 22px;
    line-height: 136%;
    text-align: center;
    color: #fff;
    font-family: Inter, sans-serif;
}
.road__content-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    row-gap: 20px;
}
.Road{
    padding-top: 100px;
    background-image: url('./images/traffic-light.png'), url("./images/road.png");
    background-position: calc(100% - 1150px) calc(30% - 180px), right bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 479px 439px;
    padding-bottom: 100px;
}
.road__content-card{
    background-color: rgba(38, 101, 60, 0.4);
    border-radius: 50px;
    padding: 25px 85px 40px 50px;
    margin-top: 110px;


}
.road__card{
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.road__card-title h3{
    font-weight: 400;
    font-size: 30px;
    color: #fff;
    font-family: Inter, sans-serif;
    margin-bottom: 20px;
    text-align: center;
}
.road__card-title p{
    font-weight: 400;
    font-size: 22px;
    color: #fff;
    font-family: Inter, sans-serif;
}
.road__title-btn p{
    font-weight: 400;
    font-size: 22px;
    color: #fff;
    font-family: Inter, sans-serif;
}
.road__title-btn{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.road__title-p{
    margin-bottom: 20px;
    margin-top: 20px;
}


.road-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Высота страницы */
}

.Road {
    flex: 1; /* Основное содержимое занимает оставшееся пространство */
}

/* Стили для футера */
.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer__icons img {
    width: 24px;
    height: 24px;
    margin: 0 10px;
}

.footer__title {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.footer__contact p {
    margin: 5px 0;
}
