
.header__background{
  background: linear-gradient(to right, white 70.7%, seagreen 70.7%);
  padding-top: 45px;
  width: 100%;
  height: 100%;
}

.advantage-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.RoadBackground{
  background-color: #478E64;
}